<!-- Homepage Hero
  ================================================== -->
  <section id="hero">

    <div class="row">

      <div class="twelve columns">

        <div class="hero-text">
          <h1 class="responsive-headline">献立提案的なタイトル</h1>

          <p>何かしらのメッセージをここに記述。何かしらのメッセージをここに記述。何かしらのメッセージをここに記述。何かしらのメッセージをここに記述。</p>
        </div>

           <div class="buttons">
              <!-- スタートクリックで献立提案プロセスを開始する -->
              <!--<a class="button trial" href="#">Start</a>-->
              <%= link_to "スタート", {:controller => "menu_pages" , :action => "menu"}, {:class => "button trial"} %>
              <!--<a class="button learn-more smoothscroll" href="#features">ユーザ登録する</a>-->
           </div>

           <div class="hero-image">
              <%= image_tag 'hero-image' %>
           </div>

      </div>

    </div>

  </section> <!-- Homepage Hero end -->

  <!-- Screenshots
  ================================================== -->
  <section id="screenshots">

     <div class="row section-head">

        <h1>人気の献立</h1>
<!--　ログインしてない場合はスクリーンショット　ログインしていれば献立ページへのリンク -->
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
        voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        </p>

     </div>

     <div class="row">

        <div class="twelve columns">

           <!-- screenshots-wrapper -->
           <div id="screenshots-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

              <div class="columns item">
                 <div class="item-wrap">

                    <a href="#" data-imagelightbox="a" >
                       <%= image_tag 'screenshots/line-icons.jpg' %>
                       <div class="overlay"></div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
             </div> <!-- item end -->

              <div class="columns item">
                 <div class="item-wrap">

                    <a href="#" data-imagelightbox="a" >
                       <%= image_tag 'screenshots/hipster.jpg' %>
                       <div class="overlay"></div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
             </div> <!-- item end -->

              <div class="columns item">
                 <div class="item-wrap">

                    <a href="#" data-imagelightbox="a" >
                       <%= image_tag 'screenshots/authentic-vintage.jpg' %>
                       <div class="overlay"></div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
             </div> <!-- item end -->

              <div class="columns item">
                 <div class="item-wrap">

                    <a href="#" data-imagelightbox="a" >
                       <%= image_tag 'screenshots/spot-uv-logo.jpg' %>
                       <div class="overlay"></div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
             </div> <!-- item end -->

              <div class="columns item">
                 <div class="item-wrap">

                    <a href="#" data-imagelightbox="a" >
                     <%= image_tag 'screenshots/tshirt-mockup.jpg' %>
                       <div class="overlay"></div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
             </div> <!-- item end -->

              <div class="columns item">
                 <div class="item-wrap">

                    <a href="#" data-imagelightbox="a" >
                       <%= image_tag 'screenshots/abstract-vector.jpg' %>
                       <div class="overlay"></div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
             </div> <!-- item end -->

              <div class="columns item">
                 <div class="item-wrap">

                    <a href="#" data-imagelightbox="a" >
                       <%= image_tag 'screenshots/embossed-paper.jpg' %>
                       <div class="overlay"></div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
             </div> <!-- item end -->

              <div class="columns item">
                 <div class="item-wrap">

                    <a href="#" data-imagelightbox="a" >
                       <%= image_tag 'screenshots/judah.jpg' %>
                       <div class="overlay"></div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
             </div>  <!-- item end -->

           </div> <!-- portfolio-wrapper end -->

        </div> <!-- twelve columns end -->

     </div>  <!-- end row -->

  </section> <!-- Screenshots End -->


  <!-- Call-To-Action Section
  ================================================== -->
  <section id="call-to-action">

     <div class="row">

        <div class="seven columns">

           <h2>すべての機能を使うには</h2>
           <p>???にはこんな機能やあんな機能があります。もしあなたが全ての機能を使いたいならサインアップしてください。
</p>

        </div>

        <div class="three columns action">

           <a href="http://www.rakulacook.com/user/regist/" class="button">Sign Up Now</a>

        </div>

     </div>

  </section> <!-- Call-To-Action Section End-->



  <!-- Features Section
  ================================================== -->
  <section id='features'>

     <div class="row feature design">

        <div class="six columns right">
           <h3>特徴その１</h3>

           <p>Lorem ipsum dolor sit amet, ea eum labitur scripserit, illum complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
           Nec et amet vidisse mentitum. Cibo mutat nulla ei eam.
           </p>
        </div>

        <div class="six columns feature-media left">
            <%= image_tag 'feature-image-1.png' %>
        </div>

     </div>

     <div class="row feature responsive">

        <div class="six columns left">
           <h3>特徴その２</h3>

           <p>Aenean condimentum, lacus sit amet luctus lobortis, dolores et quas molestias excepturi
           enim tellus ultrices elit, amet consequat enim elit noneas sit amet luctu.
           Quis nostrum exercitationem ullam corporis suscipit laboriosam.Our library is continually refreshed with the latest on web technology
           so you'll never fall behind. Quis nostrum exercitationem ullam corporis suscipit laboriosam.
           </p>
        </div>

        <div class="six columns feature-media right">
              <%= image_tag 'feature-image-2.png' %>
        </div>

     </div>

     <div class="row feature cross-browser">

        <div class="six columns right">
           <h3>特徴その３</h3>

           <p>Lorem ipsum dolor sit amet, ea eum labitur scripserit, illum complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
           Nec et amet vidisse mentitum. Cibo mutat nulla ei eam.
           </p>
        </div>

        <div class="six columns feature-media left">
            <%= image_tag 'feature-image-3.png' %>
        </div>

     </div>


  </section> <!-- Homepage Hero end -->
<%= render 'layouts/footer' %>
