
<!-- Footer
================================================== -->
<footer>
   <div class="row">
      <div class="six columns info">
         <div class="footer-logo">
            <a href="#">
               <%= image_tag 'footer-logo.png' %>
            </a>
         </div>
         <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
         Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
         nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
         </p>
      </div>
      <div class="six columns right-cols">
         <div class="row">
            <div class="columns">
              <h3 class="address">Come Visit</h3>
               <p>
               1600 Amphitheatre Parkway<br>
               Mountain View, CA<br>
               94043 US
               </p>
            </div>
            <div class="columns">
               <h3 class="social">socialize</h3>
               <ul>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">GooglePlus</a></li>
               </ul>
            </div>
            <div class="columns last">
               <h3 class="contact">Contact Us</h3>
               <ul>
                 <li><a href="tel:0822915050">082-291-5050</a></li>
                 <li><a href="mailto:inoue@hsc.ac.jp">inoue@hsc.ac.jp</a></li>
               </ul>
            </div>
         </div> <!-- Nested Row End -->
      </div>
      <p class="copyright">&copy; 2016 楽Laクック | Created by <a title="Styleshout" href="http://www.hsc.ac.jp/">Hiroshima Computer College</a></p>
      <div id="go-top">
         <a class="smoothscroll" title="Back to Top" href="#hero"><i class="icon-up-open"></i></a>
      </div>
   </div> <!-- Row End -->
</footer> <!-- Footer End-->
